.App {
  text-align: center;
}

body {
  background-color: #a3bae8;
  margin-bottom: 20px;
}

.productCard {
  margin-left: 10px;
}

.categoryCard {
  margin-left: 10px;
  margin-bottom: 10px;
}

.cardImg {
  max-width: 600px
}

.categoryText {
  font-size: 12px;
}

.quantityText {
  font-size: 12px;
  text-align: right;
}

.navlink {
  margin-left: 30px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.navlink:hover {
  background-color: blue;
  
}

.addProduct {
  width: 100%;
  margin-top: 20px;
}