.App {
  text-align: center;
}

body {
  background-color: #a3bae8;
}

.productCard {
  margin-left: 10px;
}

.categoryCard {
  margin-left: 10px;
  margin-bottom: 10px;
}

.allProductsCard {
  width: 600px;
}

.cardImg {
  max-width: 600px
}